.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px 0px;
}

.displayColumn {
    width: 40%;
    
}

.displayFlex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.pNews {
    font-size: 1.2em;
}

.pNews:hover {
    color: rgba(188, 14, 223, 0.699);
    
    
}

.relleno {
    padding: 50px;
}