
.burger{
    display: none;
    cursor: pointer;
    padding: 15px;
    transition: all 0.5s linear;
    border-radius: 50%;
  }
  
  .burger div{
    width: 25px;
    height: 3px;
    background-color: #f5f5f5;
    margin: 5px;
    border-radius: 25%;
    transition: all 0.5s linear;
  }
  
  .toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
@media (max-width: 850px){
    .burger{
        display: block;
      }
}