.new-title{
    cursor: pointer;
    width: 45%;
    border: 1px solid #ccc;
    margin:0;
    padding:5px;
    overflow:auto;
    max-height:1.7em;
    font-weight: normal;
}

.new-title:hover{
    color:#ccc;
}

@media(max-width:800px){
    .new-title{
        width: 100%;
    }
}

.Modal{
    position: fixed; 
    top: 5vh;
    left: 5vw;
    width: 80vw;
    height: 80vh;
    border: 1px solid rgb(204, 204, 204); 
    box-shadow: 0 0 30px #000;
    background: rgb(255, 255, 255); 
    border-radius: 4px; 
    outline: none; 
    padding: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.modal-content-new{
    text-align: center;
    width: 100%;
}

.modal-title{
    max-height: 1.7em;
    overflow:auto;
}

.modal-text{
    height: 60vh;
    width: 80%;
    margin: auto;
    overflow: auto;
}

.modal-close{
    width: 200px;
    background: linear-gradient(90deg, #ab31d4 0%, #d81b60 100%);
    color: #fff;
}