html, body{
  font-family: 'Baloo Thambi 2', cursive;
  padding: 0;
  margin: 0;
}

.content-width{
  width: 90vw;
  max-width: 1065px;
  margin: 0 auto;
}

.button{
  font-family: 'Baloo Thambi 2', cursive;
  border: 1px solid #000;
  border-width: 0 0 4px;
  border-radius: 16px;
  font-weight: bold;
  padding: 10px;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.5s ease;
}