html, body{
  font-family: 'Baloo Thambi 2', cursive;
  padding: 0;
  margin: 0;
}

.content-width{
  width: 90vw;
  max-width: 1065px;
  margin: 0 auto;
}

.button{
  font-family: 'Baloo Thambi 2', cursive;
  border: 1px solid #000;
  border-width: 0 0 4px;
  border-radius: 16px;
  font-weight: bold;
  padding: 10px;
  font-size: 1.1em;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
}

.button.blue{
  color: #fff;
  border-color: rgb(14, 64, 117);
  background: linear-gradient(90deg, #1F76D1 0%, #2d9ceb 100%);
}

.button.blue::before {
  content: "";
  position: absolute;
  border-radius: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #2d9ceb 60%, #1F76D1 100%);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
}
.button:hover::before {
  opacity: 1;
}

.button.white{
  color: #5c1175;
  border-color: #5c1175;
  transition: all ease 0.5s;
}

.button.white:hover{
  color:#fff;
  background: linear-gradient(90deg, rgba(216,27,96,1)  0%, rgba(171,49,212,1) 100%);
}

.content-section{
  min-height: 80vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

h2{
  font-size: 2.5em;
  margin:20px 0;
}